/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
.black {
    background-color: black;
  }
.dropdown-menu {
    list-style-type: disc;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
.body {
 
  background-image: url('https://e1.pxfuel.com/desktop-wallpaper/549/675/desktop-wallpaper-star-wars-star-backgrounds-%C2%B7%E2%91%A0-star-background.jpg');
  background-size: cover;
}
.footer-container {

  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("https://e1.pxfuel.com/desktop-wallpaper/549/675/desktop-wallpaper-star-wars-star-backgrounds-%C2%B7%E2%91%A0-star-background.jpg"); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
  
  /* Otras propiedades de estilo para personalizar la apariencia de la imagen de fondo */
}